import(methods)

importClassesFrom(Biobase, ScalarCharacter, Versions)

exportClasses(GeneIdentifierType,
              NullIdentifier, EntrezIdentifier, SymbolIdentifier,
              PfamIdentifier,
              CollectionType,
              AdHocCollection, BroadCollection,
              GeneSet, GeneColorSet)

exportMethods(show, initialize, coerce,
              validIdentifiers,
              ## GeneSet
              GeneSet, setType, genes, setIdentifier,
              setName, description, longDescription,
              organism, pubMedIds, urls, contributor, setVersion,
              creationDate, collectionType,
              ## GeneColorSet
              GeneColorSet, phenotype, geneColor, phenotypeColor)

export(getBroadSets, toBroadXML)
