import(methods)

importClassesFrom(Biobase, ScalarCharacter, Versions)

exportClasses(GeneIdentifierType,
              Untyped, EntrezIdentifier, SymbolIdentifier,
              PFAMIdentifier,
              CollectionType,
              AdHocCollection, BroadCollection,
              GeneSet, GeneColorSet)

exportMethods(show,
              ## GeneSet
              GeneSet, geneSetType, genes, uniqueIdentifier,
              geneSetName, shortDescription, longDescription,
              organism, pubMedIds, urls, contributor, geneSetVersion,
              creationDate, collectionType,
              ## GeneColorSet
              GeneColorSet, geneColor, phenotypeColor)
